# Environment
.env
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# UV
uv.lock

# Lint
/.output.txt
